@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#video {
  border: 1px solid black;
  width: 320px;
  height: 320px;
  border-radius: 50%;
}

#photo {
  border: 1px solid black;
  width: 320px;
  height: 240px;
  border-radius: 50%;
}

#canvas {
  display: none;
}

.camera {
  position: relative;
  top: 50px;
  width: 340px;
  display: inline-block;
}

.output {
  width: 340px;
  display: inline-block;
  position: relative;
  top: 50px;
}

#startbutton {
  position: relative;
  top: 50px;
  width: 150px;
  background-color: red;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

#startbutton:hover {
    background-color: #ff6363;
    width: 170px;
}
#submitbutton {
  position: relative;
  top: 50px;
  width: 150px;
  background-color: red;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  visibility: hidden;
}


.contentarea {
  font-size: 16px;
  font-family: Arial;
  text-align: center;
}

.circle{
  width: 320px;
  height: 320px;
  position: absolute;
  top: 50px;
  left: 608px;
  border-radius: 50%;
  overflow: hidden;
}

.scan{
  position: relative;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes example {
  from   {
  position: absolute;
  top: 0%;
  width: 42vh;
  border: 0.5px solid red;
  }
  to   {
  position: absolute;
  top: 100%;
  width: 42vh;
  border: 0.5px solid red;
  }
}